@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Pirata+One&display=swap');

:root {
  --col-paper: oklch(94% 0.02 80);
  --col-paper1: oklch(90% 0.03 80);
  --col-paper2: oklch(86% 0.05 80);
  --col-paper3: oklch(82% 0.07 80);

  --col-ink: oklch(22% 0.02 255);
  --col-ink-faint: oklch(40% 0.01 44);
  --col-ink-red: oklch(56% 0.2 12);
  --col-ink-blue: oklch(56% 0.15 250);
  --col-ink-purple: oklch(56% 0.15 295);

  background-color: var(--col-paper);
  color: var(--col-ink);
  font-family: 'Eczar', serif;
  font-variant-numeric: tabular-nums;
}

body {
  height: 100dvh;
  display: grid;
  grid-template: "nav body" 1fr "footer ." auto / minmax(min-content, 1fr) 5fr;
  align-items: start;
}

thead {
  font-weight: bold;
}

aside {
  color: var(--col-ink-blue);
  background-color: var(--col-paper1);
  border-radius: var(--xs-rem);
  padding: var(--xs-rem) var(--sm-rem);
}

aside::before {
  content: "\f05a";
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  margin-inline-end: 0.7ch;
}

a {
  font-weight: 600;
  /* text-decoration: none; */
  color: var(--col-ink-blue);
}

a:visited {
  color: var(--col-ink-purple);
}

table td {
  padding: var(--zs-rem);
}

.todo {
  font-style: normal;
  color: var(--col-ink-red);
}

.todo::before {
  content: "\f071";
}

.content {
  display: grid;
  grid-area: body;
  grid-template-columns: minmax(min-content, auto) 1fr;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Pirata One', serif;
}

.content> :is(h1, h2, h3, h4, h5, h6) {
  text-align: end;
  grid-column: 1;
  padding: 0;
  margin-top: calc(1em - 1lh);
}

.content>:is(ol, ul) {
  padding-inline-start: 3ch;
}

.content>* {
  max-width: 72ch;
  grid-column: 2;
  align-self: flex-start;
  margin: 0;
}

header,
footer,
thead {
  color: var(--col-paper);
  background-color: var(--col-ink);
}

header {
  grid-area: nav;
}

footer {
  grid-area: footer;
}

#title {
  text-align: center;
}

@media (width < 786px) {
  body {
    grid-template: "nav" auto "body" 1fr "footer" auto / 1fr;
  }

  p {
    text-indent: 2ch;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .content> :is(h1, h2, h3, h4, h5, h6) {
    text-align: start;
    grid-column: 1;
  }

  .content>p {
    grid-column: 1;
  }

  .content>* {
    grid-column: 1;
    padding-top: 0;
  }
}
